<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css" />
		<script src="../js/mui.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/myStroage.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">修改账单信息</h1>
		</header>
		<div class="mui-content">
			<div id="dv_billItemEdit">
				<div id="dvBalance">
					<button id='showMarketPicker' class="mui-btn mui-btn-block" type='button'>{{market}}</button>
				</div>
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label>档口号</label>
						<input id="addr" type="number" class="mui-input-clear" v-model="shop" placeholder="档口名称">
					</div>
					<div class="mui-input-row">
						<label>名称-款号</label>
						<input id="name" type="text" class="mui-input-clear" v-model="productNoName" placeholder="请输入商品名称">
					</div>
					<div class="mui-input-row">
						<label>单价</label>
						<input id="price" type="number" class="mui-input-clear" v-model="price" placeholder="请输入商品单价">
					</div>

					<div class="mui-input-row">
						<label>数量</label>
						<input id="num" type="number" class="mui-input-clear" v-model="productNumber" placeholder="请输入数量">
					</div>
				</form>
				<button type="button" class="mui-btn mui-btn-blue mui-btn-block" v-on:tap="edit()">确定</button>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript">
	mui.init()
	mui.plusReady(function() {
		var currentView = plus.webview.currentWebview();
		var bill = currentView.billitem;
		var url_edit = LIULURONG.url + "/api/billitem/edit";
		var vm = new Vue({
			el: '#dv_billItemEdit',
			data: bill,
			methods: {
				edit: function() {
					console.log(JSON.stringify(vm.$data));
					vm.$data.market = document.getElementById('showMarketPicker').innerText;
					mui.post(url_edit, vm.$data, function(resp) {
						if (resp.code == 200) {
							mui.toast('修改成功');
							reloadIndexView();
						} else {
							mui.toast('修改失败');
						}
					}, 'json');
				}
			}
		})

		function reloadIndexView() {
			var parentView = plus.webview.currentWebview().opener();
			mui.fire(parentView, 'refresh', {
				'action': 'editBalance'
			});
			return true;
		}

		//弹出选择框
		document.getElementById('showMarketPicker').addEventListener('tap', function() {
			var btnSelect = this;
			var marketPicker = new mui.PopPicker();
			marketPicker.setData([{
					value: 'nc',
					text: '南城'
				},
				{
					value: 'wj',
					text: '万佳'
				}
			]);
			marketPicker.show(function(seleItem) {
				btnSelect.innerText = seleItem[0].text;
				market = seleItem[0].text;
			})
		})

	})
</script>
